@model Book_Recommendation_System.Models.Book

<h1>@Model.Title</h1>
<p>Author: @Model.Author</p>
<p>Year of Publication: @Model.YearOfPublication</p>
<p>Publisher: @Model.Publisher</p>
<p>Rating: @Model.Rating</p>
